[2013-06-04 16:07] chinkung opened #1 "File is not completely encrypt"
Hello,

After I use your library to encrypt, the encryption process is ok but after tried to decrypt with GnuPG 1.4.10 I found this error

gpg: WARNING: message was not integrity protected
gpg: [don't know]: invalid packet (ctb=74)
gpg: no valid OpenPGP data found.

and the file is partial decrypted

The key I use is 4096 bits and text file size is around 210 KB and text file contains UTF-8 (Thai)

[2014-01-07 11:53] Tralren opened #3 "OpenPGP.js key problem with 2048-bit length"
Hello,

When I use your library with an OpenPGP.js generated key, the key ID is not correct. It happens with 2048 bit and 4096 bit length keys, but everything is ok with 1024 bit length key.

Here some test keys:

with a 1024 bit length key
Real Key ID: 8DCE498F6091DFD6
Key ID with php-gpg: 8DCE498F6091DFD6 (the same - no problem)
[code]
_______

with a 2048 bit length key
Real Key ID: C8753869798

[2014-02-26 00:14] mrmethodist opened #4 "Unable to decrypt message if 2 subkeys used in public key"
My PGP public keys use 2 subkeys and when I plug this public key into php-gpg, I'm unable to decrypt it.

I get two errors;

gpg: public key decryption failed: wrong secret key used
gpg: decryption failed: secret key not available

But when I revoke one of my subkeys, and only use 1 then I'm able to decrypt the message. I'm guessing you don't have support for multiple subkeys?

[2014-07-18 16:04] frederichoule opened #5 "Decrypt big files"
Hey! When I try to decrypt bigger files (all the ones I have problem with are > 250kb), I get this error:

gpg: [don't know]: invalid packet (ctb=47)
gpg: WARNING: message was not integrity protected
gpg: [don't know]: invalid packet (ctb=31)
gpg: no valid OpenPGP data found.

I have a lot of files I encrypted that way, I had tested at first but with smaller files (80kb) and it worked great, so I

[2015-05-07 22:42] teklifeinfo opened #6 "Wrong fingerprint"
Created my key with Enigmail for Thunderbird. My key works correctly when using: https://www.igolder.com/pgp/encryption/

Here is my code:
[code]

[2015-05-07 23:37] #6 closed

[2015-07-05 08:39] yetanotherusernamebecausegithubisbugged opened #7 "Problems with gnupg-generated keypair."
Hello. I have encountered a problem. First, I created a keypair using gnupg and passphrase `123`:
[code]
Second - I tested if those keys are valid and I can encrypt and decrypt messages via the gnupg:
[code]
[code]
[code]
[code]
Then I encrypted a message with php-gpg:
[code]
And after that I can't decrypt it with gnupg the same way I decrypted the gnupg-encrypted message, it gives me an error:
[c

[2015-07-07 05:37] yetanotherusernamebecausegithubisbugged commented on #7
I'm also getting an error while trying to encrypt message with 2048-length key:
[code]
http://space1000.ru/wp-content/uploads/2015/07/test2.7z

[2015-10-23 10:38] DanielRuf commented on #4
see #9

[2015-10-23 12:48] DanielRuf commented on #7
This seems to be a problem with the GnuPG version.

I use GnuPG v2 and it works. But with your GnuPG v1.4.11 public key it does not work.

Did you already test with a gpg2 key?

https://www.gnupg.org/download/index.html
[code]

[code]
It seems GnuPG 1 is not supported at the moment.

[2015-10-23 13:40] DanielRuf commented on #5
duplicate of #1

[2015-10-23 13:41] DanielRuf commented on #1
If the encrypted fileis over 250KB large, then the issue occurs.

It still happens.

[2015-10-27 23:05] #5 closed

[2015-10-27 23:08] jasonhinkle commented on #7
Hey @DanielRuf thank you so much for putting the work in.  Would you have any interest in being a committer for the project? I haven't had the time to maintain this as I should. I think it's a great library for the PHP community.

[2015-10-28 09:58] DanielRuf commented on #7
@jasonhinkle It is a great library for the PHP community for sure. I don't know if I have the time for it but I will commit as much as I can and try to fix these issues.

[2015-10-28 17:10] jasonhinkle commented on #7
@DanielRuf That is more than I've been able to do. I just added you. Thanks again!

[2015-10-31 14:06] DanielRuf commented on #1
Found this code from openpgp.js

It seems we use the old v3 header.
We should try to use the v3 code from openpgp.js and s3 if this works.

It seems we have to add 1, 2 or 4 depending on the value of len.

Maybe the v4 header does also work.

[code]

[2015-11-02 23:05] jasonhinkle commented on #1
I'm not really able to give this a thorough look that it deserves.  If it helps, the phpunit tests should run and that might be a great place to put in a test case for this?

[2015-11-03 08:01] DanielRuf commented on #1
Right, I will prepare a working commit when I find the time this week and let you know.

[2015-11-03 08:57] DanielRuf commented on #1
I got some working code faster than I thought =) Please test and verify if it works.

At the moment we use the version 3 signature packet format (and so the v3 header).
Version 4 would need a big rewrite of many functions.

Reference:
https://tools.ietf.org/html/rfc4880#section-5.2.2 (v3)
https://tools.ietf.org/html/rfc4880#section-5.2.3 (v4)

[2015-11-03 09:18] DanielRuf commented on #3
Is this issue still open / not fixed? Just asking because the issue is still open.

[2015-11-04 00:17] jasonhinkle commented on #3
Yea probably is OK to close.  The original issue was fixed and there's a workaround for the related issues that came about.  If anybody disagrees feel free to re-open

[2015-11-04 00:17] #3 closed

[2015-11-04 00:20] #1 closed

[2015-11-04 10:53] DanielRuf opened #12 "proposed features"
In the readme these features are mentioned, which are missing:
- [ ] signing (needs private key)
- [ ] decryption (needs private key)
- [ ] signature verification (needs public key)
- [ ] key generation
- [x] MDC packet
- [ ] integrity check (needs private key)

Are there more things, which we need?
I think getting some contributors from https://github.com/openpgpjs/openpgpjs would be very helpful

[2015-11-04 10:58] DanielRuf commented on #4
Was this fixed in https://github.com/jasonhinkle/php-gpg/commit/ec3cfc87c216b1ddcca4b59c8275a60eae076226?

Does this need some more testing? At least this commit works with my keys without any issues.

Or does this need some more testing until it will be merged into master? Before merging with master, #10 may have to be merged into the dev branch.

[2015-11-04 17:32] jasonhinkle commented on #12
I think that would be amazing. I suppose if I were going to add anything to the list it would be signature verification. That would pretty much cover all of the typical uses that I can think of.

[2015-11-04 17:36] jasonhinkle commented on #4
it appears to be working for me.  I'll close the issue. If anyone still has a problem, please re-open and include a way for us to reproduce.

[2015-11-04 17:36] #4 closed

[2015-11-04 17:39] jasonhinkle commented on #12
Sorta related, I'm also going to try to get the phpunit tests running automatically on travis ci.

[2015-11-04 17:48] DanielRuf commented on #12
Ok, added it to the list.

That would be great and very helpful for commits and pull requests.

[2015-11-12 13:25] tobestool opened #13 "Undefined plaintext variable results in an undecryptable block"
Hi, I've been scratching my head trying to use this library with wp-pgp-email here:

https://gist.github.com/timnashcouk/dd1ff318489f6bfd8743

Turns out that my headaches were caused by a typo in the variable being passed to the GPG::encrypt meaning that it was passed an undefined variable which resulted in what looked like a valid encrypted message, but neither Enigmail in Thunderbird or GNU Priv

[2015-11-12 13:47] DanielRuf commented on #13
I can not confirm this.

Encryption and decryption works with an empty input.
[code]

I use GnuPG 2.0.29 and GPA 0.9.9 for decryption.
The used public key is a 4096 RSA key.

Did you use the latest version of php-gpg?

[2015-11-12 13:53] tobestool commented on #13
Odd, I've just double checked and with code like yours above I get a block which GPA briefly flashes a decryption progress dialog then returns to the clipboard view with the block still there.

Mine is a 2048 bit RSA key, and I downloaded php-gpg from the project's front page this morning. Should I try a dev branch?

[2015-11-12 13:58] DanielRuf commented on #13
If you create a file with the same content you will see that GPA successfully decrypts it (no text / content at all).

The clipboard view just shows something when there is something to decrypt. If there is nothing, it shows nothing. If there would be a problem with the decryption, it would show an error.

Please verify that it works with a file in the file view.

[2015-11-12 14:10] tobestool commented on #13
Yes. That seems to successfully decrypt the block when put in a file. Thanks for that.

While GPA is giving no error, Enigmail does give a "Decryption Failed" error, so there is certainly something questionable going on. However it doesn't seem to be your code at fault. Thanks for the help clearing that up!

[2015-11-12 14:10] #13 closed

[2015-11-12 18:31] jasonhinkle commented on #13
I just submitted it - https://packagist.org/packages/jasonhinkle/php-gpg

[2015-11-13 09:22] DanielRuf commented on #7
Tested it with https://github.com/jasonhinkle/php-gpg/tree/7a0e41e7eee5739e99ba6147fbf78ddc4329a62a

Imported they keys using GPA.
Encrypted the file with php-gpg and then decrypted it successfully using GPA.

I think the latest commits also fixed this issue.

Can you verify this @jasonhinkle?

The second issue still exists with gpg classic keys. I could not verify it with a gpg stable (2.0) key a

[2015-11-15 20:25] jasonhinkle commented on #7
my tests are showing all green.  i'll close the issue - if anybody still has problems, please re-open. thanks Daniel!

[2015-11-15 20:25] #7 closed

[2015-11-16 08:26] DanielRuf commented on #12
Signing and decryption need the private key, I am not sure if we should add these features and people store their private keys on servers. Personally I prefer libraries which just do the encryption and verification using public keys (one way). But this is just my opinion.

How do you see this?

[2015-11-16 11:48] RaedsLab commented on #12
Getting users to handle privateKeys in variables will surely lead to some of those getting leaked.
This can be implemented with a warning label over it.

[2015-11-16 12:39] RaedsLab opened #16 "Hide version option"
I think that `$gpg->encrypt($pub_key,$plain_text_string);` method should have a 3rd optional Boolean parameter `$show_version`.

Hiding the client and the version in the encrypted text could prevent some future attacks on encrypted messages that target a specific version (if that version has been proven insecure).

This was discussed in length in the openpgp.js project.

[2015-11-16 12:42] DanielRuf commented on #16
Can you link to the openpgp.js discussion?

[2015-11-16 12:49] RaedsLab commented on #16
@DanielRuf  https://mailman.stanford.edu/pipermail/liberationtech/2013-November/012243.html

[2015-11-16 12:53] DanielRuf commented on #16
See my updated comment.

[2015-11-16 12:56] RaedsLab commented on #16
I'm not an expert on the inner working of GnuPG but the decryption of a text without the comment  `Version: VerySimple PHP-GPG v1.4.7` works perfectly fine in the terminal.

[2015-11-16 12:57] DanielRuf commented on #16
@jasonhinkle What do you think, should we add this to both branches?

[2015-11-16 17:58] jasonhinkle commented on #16
Perhaps the 3rd parameter could be an optional string $version.  The default will be the same behavior as now.  If a $version is provided then use that instead. If an empty string is passed in, then no version info will show at all.

That way people who make their own clients can put in their version if they choose (like form mailers, etc) or just have no version info at all if they feel that is b

[2015-11-16 18:04] DanielRuf commented on #16
Right, I will prepare a pull request with the suggested code tomorrow.

@RaedsLab I think this is flexible enough?

[2015-11-16 18:32] RaedsLab commented on #16
@jasonhinkle @DanielRuf I thunk this works marvelously :+1:

[2015-11-17 00:50] jasonhinkle commented on #12
It's almost a certainty that somebody would use the library in a way that would not be safe. But I don't think that's unique to this project. There's already PHP libraries to interface with the GPG binary. The only real difference is that this library is pure PHP. It is possible to write command-line PHP apps as well, though not a lot of people do it.

I'm not sure how much my opinion is worth sin

[2015-11-17 06:36] jasonhinkle commented on #12
I just added key generation, i suppose if the plan is to eventually have a full-featured GPG library

[2015-11-17 08:22] RaedsLab commented on #12
@jasonhinkle agreed , you can't always babysit people :+1:

[2015-11-17 08:47] DanielRuf commented on #16
@RaedsLab please test it now with the latest master or dev branch. I've just committed the changes to the branches which allows custom version headers and omitting it completely.

[2015-11-18 08:59] DanielRuf commented on #12
The structure of keys and signatures is described here: http://senderek.ie/research/security/key-experiments.html (very good and helpful article).

I got the two MPI for the modulus and exponent value from the public key now. But I am not sure howto calculate the right value of the modulus.

Any help is very welcome. But so far it seems I have the data from the signature which we need.

[code]

SO

[2015-11-18 09:05] DanielRuf opened #17 "stable build and version number (release)"
We have two version numbers, 1.1 here https://github.com/jasonhinkle/php-gpg/blob/master/libs/GPG.php#L20 and 1.4.7 here https://github.com/jasonhinkle/php-gpg/blob/master/libs/GPG.php#L33

How do they relate?

I think we can make a release (1.5.0, SemVer style for Packagist) here on GitHub and upate the version number.

[2015-11-18 13:41] RaedsLab commented on #17
that would make the composer install a little easier if there were at least one stable version :+1:

[2015-11-18 15:06] DanielRuf commented on #16
@RaedsLab please test it now with the latest master or dev branch. I've just committed the changes to the branches which allows custom version headers and omitting it completely.

[2015-11-18 18:10] DanielRuf commented on #12
I think I just missed the part to add zero3 to the begnning of the number if its length is smaller than 8.
http://stackoverflow.com/questions/14603205/how-to-convert-hex-string-into-a-bytes-array-and-a-bytes-array-in-the-hex-strin

[2015-11-18 21:01] jasonhinkle commented on #17
line 20 i think was intended to refer to specifically that file GPG.php, whereas line 33 is the "library version"

I think really line 20 can probably just be dropped to avoid confusion. I don't think it's serving any purpose now that the library is in version control, we can all see the revision history without having to keep an arbitrary number in the file.

[2015-11-19 10:08] RaedsLab commented on #16
@DanielRuf sorry been busy with school, I'll test it tomorrow

[2015-11-19 10:24] DanielRuf commented on #16
Okay.

[2015-11-26 12:35] DanielRuf commented on #16
Any update? Because if it works we can update the version number and make a release.

[2015-11-27 19:53] RaedsLab commented on #16
@DanielRuf : Sorry for the delay, tested it with both empty string, NULL, and custom value, all work perfectly !

[2015-11-27 19:53] #16 closed

[2015-11-27 21:18] DanielRuf commented on #16
Great, thanks for the fedback.

[2015-11-27 21:36] DanielRuf commented on #17
Created the 1.5.0 release a few minutes ago.

@jasonhinkle possibly ou have to manually update the Packagist project to get the release there.

[2015-11-27 21:36] #17 closed

[2015-11-28 07:12] jasonhinkle commented on #17
Cool nice work! I'll check out the best way to do it on packagist, perhaps creating a branch for the version?

[2015-12-01 04:44] jasonhinkle commented on #17
looks like packagist is pulling from master so everything we merge into master will go up.  might be the most simple way to deal with it until the point comes where we have a breaking change.

[2015-12-01 06:32] DanielRuf commented on #17
But you have to update it manually if the commit and pull request hooks are not setup on GitHub. Right, at the moment we have the labeled releae on Packagist and the master branch is uptodate =).

[2015-12-01 06:34] jasonhinkle commented on #17
That's what I thought as well but when I went to look at it, it had already updated to 1.5.0.  I clicked the update button anyway, but i'm not sure it did anything?

[2015-12-01 06:42] jasonhinkle commented on #17
actually i don't know what's going on! it seems to have picked up the 1.5.0 tag automatically though. is that good enough?

[2015-12-01 07:00] DanielRuf commented on #17
Ok, it seems evrything is ok. I am not sure if they do automatic updates once per day or if it was triggered by the push and it was still cached for a few hours. Will take a eye on it when a new commit is pushed.

[2015-12-01 15:22] wyllys66 commented on #12
The lack of MDC support causes some GPG clients to reject messages generated here.  Is this new version going to generate an MDC with the encrypted messages?

[2015-12-01 15:45] DanielRuf commented on #12
@wyllys66 I don't know if it is already implemented.

Which software rejects the message?
Please open an new issue for this.

See here: https://github.com/jasonhinkle/php-gpg/issues/1#issuecomment-18958153

The warning is not critical. Decryption should still work.

[2015-12-01 15:51] wyllys66 commented on #12
The Mailvelope plugin for Chrome and Firefox rejects messages without an MDC, which apparently is what 1.4.7 generates. I haven't tested with 1.5.0 yet.  gpg just shows a warning when the MDC is missing.   It's easy to test to see if the MDC is generated, just use "gpg --list-packets" on the encrypted message to see if it is generating an encrypted data packet with the mdc:
[code]

The messages ge

[2015-12-01 15:59] DanielRuf commented on #12
Please create a new issue for this here so we can properly discuss this.

So far MDC is optional and this issue is in mailvelope, not php-gpg.

[2015-12-01 16:04] wyllys66 opened #18 "Generate MDC packets for better integrity protection"
The Mailvelope plugin for Chrome and Firefox rejects messages without an MDC, which apparently is what 1.4.7 generates. I haven't tested with 1.5.0 yet. gpg just shows a warning when the MDC is missing. It's easy to test to see if the MDC is generated, just use "gpg --list-packets" on the encrypted message to see if it is generating an encrypted data packet with the mdc:

[code]
The messages gener

[2015-12-01 19:28] DanielRuf commented on #18
https://tools.ietf.org/html/rfc4880#section-5.13

We have to add this packet in a future version.

[2015-12-01 21:07] jasonhinkle commented on #17
I just installed the service hook in github as well just in case, but it seems like it did pick up the tag without me doing that.  anyway, i think we should be fully covered now.

[2015-12-01 21:33] DanielRuf commented on #17
Great :+1:

[2015-12-09 10:33] DanielRuf opened #19 "retrieve keysize"
I am not sure if this is the right solution.

Advice is very welcome.

In file Public_Key.php I added

[code]

Which gives me 2048, 4096 and so on (plus 13 extra bytes in $sa[2] which seem to be headers and so on?).

[2015-12-09 22:03] singpolyma opened #21 "Change confusing name"
People are likely to confuse this library with the GnuPG project, since it takes its name from there.

[2015-12-09 22:03] singpolyma opened #22 "FYI, OpenPGP is *not* covered by the GPL in any way"
Some implementations of it are, but that does not affect alternate implementations of the same spec (unless you're basing your code on GPL'd implementation code).

[2015-12-09 22:04] singpolyma commented on #22
That said, I love the GPL so feel free to still use that for your license ;)

[2015-12-09 22:04] #22 closed

[2015-12-09 23:55] DanielRuf commented on #22
I am just a contributor. Can you show us the relevant parts? The code from the company which created this library licensd it under the GPL.

[2015-12-09 23:58] singpolyma commented on #22
Sure, if the library creator puts it under the GPL, that's fine. But the readme implies that because gnupg is GPL'd that would somehow affect this project, which it does not (unless you're directly adapting code from there).

[2015-12-10 00:01] DanielRuf commented on #22
Ok, thanks for the heas u, will fx this in the readme and mention this.

@jasonhinkle how could we write / reword this?

[2015-12-10 00:04] DanielRuf commented on #21
You are probably right. I think this wil need some time to find a good / proper name, communicate this change with other users and developers and update external ressources.

@jasonhinkle what do you think about this?

[2015-12-10 05:44] jasonhinkle commented on #21
I don't understand the confusion - this project is exactly a port of gpg in PHP and is clear about it in the readme. What other name would make more sense?

I notice @singpolyma that you are working on a project called openpgp-php- I didn't know that it existed but would certainly be interested in knowing more about it.

[2015-12-10 05:46] RaedsLab commented on #21
I found this project while searching in Github for "PHP GPG/GnuPG" I don't think that there is any confusion.

[2015-12-10 13:11] singpolyma commented on #21
I it really a port of gpg? You are reading the gnupg C code and translating it for this project? I think instead it is an implementation of the OpenPGP format, which GnuPG is also an implementation of.  It's like building a new email client in php and calling it "php-thunderbird"

[2015-12-10 19:00] jasonhinkle commented on #21
That is pretty much what this started as - converting GPG C code into PHP.

I can't help but feel Steve that you have some personal motives about this name - I have no idea why, we're all just trying to make encryption available to PHP developers.

[2015-12-10 19:00] #21 closed

[2015-12-10 19:01] singpolyma commented on #21
@jasonhinkle No personal motive.  Just seemed confusing is all :)

[2015-12-10 20:44] jasonhinkle commented on #21
Well there's certainly no reward for any of us making PHP tools for encryption- I'd be happy to work together. @DanielRuf is really doing all of the work recently, I'm pretty much just the maintainer in name only.

[2015-12-10 20:51] jasonhinkle commented on #22
Well as the readme does mention I'd like to release under a more permissive license but the original PHP-GPG was commissioned as an exact port of GPG C code so to be safe I assumed we should be GPL also.

I wish I had the exact details and version of GPG we used but it's been a long time (way before GitHub existed). The original coder (who I hired and paid for doing the initial port) has totally v

[2015-12-10 20:51] singpolyma commented on #22
@jasonhinkle fair enough

[2015-12-10 22:32] jasonhinkle commented on #21
Btw guys I am quite seriously ill, if anybody wanted to fork this project I'd be happy to point to it regardless of the name. I'm unsure how much longer I'll be able to do even the small amount of work I do here.

[2015-12-12 16:42] #18 closed

[2015-12-12 17:03] DanielRuf commented on #18
php-gpg 1.6.0 is now available and will add a MDC packet to encrypted messages.

[2015-12-14 02:42] jasonhinkle opened #23 "php-gpg bugs"
I received a tweet saying that there are a lot of bugs in the library, see https://twitter.com/voodooKobra/status/676121698022899713?cn=cmVwbHk%3D

Obviously the tweet alone isn't really helpful for the project unless Scott is interested in perhaps giving us some details about the bugs. I'm putting this task here so that he can reply easily if he chooses to participate. Being a security specialist

[2015-12-14 13:09] DanielRuf commented on #23
`random_int()` is now used instead of the insecure `rand()`. I have used the polyfill by paragonie as this provides the best security and is not compatible with older PHP versions (which are officially unsupported).

Alternatively other develoeprs may use the random string generation from phpseclib https://github.com/phpseclib/phpseclib/blob/29b1bb7a58e171cdfa599579d02b6314855b4915/phpseclib/Crypt

[2015-12-14 13:23] Maikuolan commented on #12
I've forked a copy of this repository and I'm watching this repository very closely. I don't yet know enough about its inner workings or about the code to contribute anything particularly useful, but, I'm slowly going over it all, in the hopes of learning it properly and finding ways to contribute.

If I can think of any suggestions, I'll post them here. In any case.. The project looks very intere

[2015-12-14 13:41] Maikuolan commented on #23
If we wanted to ensure backwards compatibility with older PHP versions, we could use PHP's in-built [`version_compare();`](http://php.net/manual/en/function.version-compare.php) function to determine which PHP version a user is using, and based on that determination, choose to use either the more secure PHP7 `random_int()` function, or the older, less secure `rand()` function.

Of course, if we di

[2015-12-14 13:43] DanielRuf commented on #23
`rand()` should be completely avoided as it is predictible ;-)

There are openssl, mcrypt and others. The PHP 5 polyfill should at least solve this for now.

[2015-12-14 13:45] Maikuolan commented on #23
Cool. :+1:

[2015-12-14 14:04] DanielRuf commented on #23
Some information abour rand and seeding rand: http://programmers.stackexchange.com/questions/76229/predicting-the-output-of-phps-rand

[2015-12-14 17:41] jasonhinkle commented on #23
Rather than check PHP version, we could use `function_exists()` to go down in order from the most preferred to the least preferred?

From what I understand, the order of preference might be:

* random_int
* openssl_random_pseudo_bytes
* random_bytes
* mt_rand (fallback purposes only)
* rand (fallback purposes only)

[2015-12-14 18:08] jasonhinkle commented on #12
Thanks @Maikuolan !

[2015-12-15 06:17] paragonie-scott commented on #23
Porting from PHP to C is dangerous. Google: `mbstring.func_overload`.

I'll explain more when I have time to open tickets for specific examples and make specific recommendations, but I'm on a business trip at the moment and it's wiped out my energy reserves.

[2015-12-15 09:39] RaedsLab commented on #23
Maybe a good idea is to focus on cleaning the code, nuke the windows line feed, remove unused variables, check for PEAR standards then get a fixed version that can be audited by a 3rd party.

I can help with this next week if you want to.

[2015-12-15 10:27] DanielRuf commented on #23
This would be very helpful.

But better keep the Windows line feed there (as I use and test the code on a Windows machine and it works here without any issues). Or does this change nothiing when I paste the result into Notepad++ and GPA?

[2015-12-15 10:31] RaedsLab commented on #23
It should work fine, but it would be cleaner I think. Just to prepare things for a possible audit

[2015-12-15 11:01] Maikuolan commented on #23
The standard Notepad program included with Windows requires `\n\r` linebreaks, but Notepad++ can handle most linebreak variations correctly (so, `\n`, `\r`, `\n\r`, etc, should be fine), so, it shouldn't be a problem if we stick to using Notepad++ (but, files mightn't appear to have any linebreaks whatsoever if they're only using `\n` linebreaks and they're opened using the standard Notepad progra

[2015-12-15 12:46] DanielRuf commented on #23
@Maikuolan Thanks for the heads up, please check if I forgot to change it in some files.

[2015-12-19 23:37] DanielRuf commented on #23
@raedslab @maikuolan please test if the current master branch works for you so I can prepare a new release (1.6.1).

[2015-12-19 23:39] DanielRuf commented on #19
@raedslab @maikuolan any thoughts about this?

[2015-12-20 10:10] Maikuolan commented on #23
This seems a little unusual.

![test-screenshot-000](https://cloud.githubusercontent.com/assets/12571108/11917505/8ee836de-a744-11e5-8900-3becb409135e.png)

[code]

I haven't had problems with multibyte functions before, so, this is new to me, but, this is a fresh install of PHP7, verbatim, without any modifications from the Windows binaries supplied by the PHP website. Do we need to do custom com

[2015-12-20 11:31] Maikuolan commented on #19
I think I still need to do a little more research myself to get a better understanding of it, before I'm able to make any useful suggestions; I'll look into this though. :-)

[2015-12-20 11:46] DanielRuf commented on #19
Ok, no problem =) I just need needback as we should decide together what featutes are needed and I want to add features, which are needed by the community and especially other developers.

[2015-12-20 11:52] DanielRuf commented on #23
You are right, mb_strlen is not installed by default.

http://stackoverflow.com/questions/6419102/fatal-error-call-to-undefined-function-mb-strlen

I will look if there are any polyfills if it is not installed (if this makes sense).

The Bitnami WAMP Stack 7.0.0 setup has it installed as it seems, I did not get the fatal error here. It may have mans extensions preinstalled for better support for w

[2015-12-20 17:38] Maikuolan commented on #23
Nice finds! :-)

Definitely, these would be good to add (assuming that they work correctly and can be implemented in the way that we need; I haven't tested them yet, but I can do that later today, after I get home from work).

They seem to be covered by the MIT License, so, legally, there shouldn't be any problems for us to add these.

I think this is a better way to go, rather than simply telling

[2015-12-21 08:01] DanielRuf commented on #23
@Maikuolan please test the following code, you can add it to the globals.php file

[code]

[2015-12-21 08:31] Maikuolan commented on #23
New issue this time:

[code]

Original input entered:

`Hello World. This is a test.`

[2015-12-21 08:37] DanielRuf commented on #23
Can not reproduce, works here for me. Even if I use
[code]
 I get `int(28)` for `var_dump(mb_strlen("Hello World. This is a test."));`

What is your encoding? The code should use UTF8.

[2015-12-21 08:54] Maikuolan commented on #23
This is very strange. :-/

I'm also using UTF8.

Same for me. When I use -that exact code-, I get the same results (`int(28)`).

But.. When I run -this- code (as per based on the example testfiles):

[code]

I get the illegal characters detected notice.

Reading over [this](http://stackoverflow.com/questions/4794647/php-dealing-special-characters-with-iconv), I think I'll experiment with some diff

[2015-12-21 09:20] Maikuolan commented on #23
Huh.. Okay, still confused.

Thinking maybe it was an issue with the way that `$encoding` was being defined, I thought I'd try changing it, to see what results could be produced.

Changing: `function mb_strlen($s, $encoding = null){`

To: `function mb_strlen($s, $encoding = 'UTF-8'){`

Didn't do anything; Still the same notice.

But, changing it to: `function mb_strlen($s, $encoding = 'ISO-8859-1'

[2015-12-21 09:23] Maikuolan commented on #23
Do we know, with PHP, whether code pages are handled internally, by PHP, or handled by the system where it's installed?

If we're getting different results for these tests, and code pages are involved, I'm wondering if it might be a problem with the code pages on my machine.

[2015-12-21 09:30] DanielRuf commented on #23
The memory issue may be a problem with the encryption which may not be the best code. We have to test this in the future and improve the code.

Can you make a var_dump() in globals.php on line 22 to see how the input looks like?

Did you try using double quotes instead of single quotes?

[2015-12-21 09:36] DanielRuf commented on #23
Very good question, unfortunately I don't know.

Best solution would be to advise people installing / enabling the multibyte extension.

But if we can debug this and find the problem, we can solve it.

I tried ti now with the library and you are right, there is a problem in the code. I will take a look at it.

[2015-12-21 09:56] DanielRuf commented on #23
Found the problem, we have to use `mb_strlen(utf8_encode())` (for UTF-8 at least). So we have to check the encoding and convert the string to it (encode it) before doing iconv_strlen.

[2015-12-21 10:08] Maikuolan commented on #23
Ah, that makes sense. So, then, we just need to find a reliable way to detect the original encoding of input..? I'll try to look around for something, but, right now, I'm not sure how we could this reliably for all cases.

[2015-12-21 10:13] DanielRuf commented on #23
I think the used encoding in php-gpg is 8bit / UTF-8 so maybe we can remove some parts of the polyfill. I am not really sure. We should test this and weigh if we should really use this polyfill (with less code) or mention that mbstring should be enabled / compiled.

[2015-12-22 22:39] DanielRuf commented on #23
@Maikuolan can you enable the display of all errors and check if there is a memory exhausted error message? The exact error message would be helpful to fix the memory issue.

[2015-12-22 22:41] paragonie-scott commented on #23
Um, this isn't hard.

https://github.com/fabpot/symfony/blob/f88e600833b6822db5873e25deaefd14948e4878/src/Symfony/Component/Security/Core/Util/StringUtils.php#L78-L92

[2015-12-22 23:08] DanielRuf commented on #23
@paragonie-scott thanks for the hint. So we can directly use this code from Anthony Ferrara (ircmaxell)?

[2015-12-23 05:27] paragonie-scott commented on #23
I don't know, ask him maybe? I'm pretty sure he releases most of his stuff under MIT license, and I'm also relatively sure he'll say "Massive :-1:" when he sees what you're doing here, for many of the same reasons I outlined on Twitter.

[2015-12-23 10:55] Maikuolan commented on #23
@DanielRuf Yep; As of the latest commit (4c6ca02e0a6fc12a9e739092b7b3f3fb79d7c4f3), all my tests were working correctly (can encrypt, then decrypt, and decrypted data matches the original data from prior to being encrypted). :+1:

(I'm still currently using a verbatim copy of PHP7 for Windows).

Also, as of the latest commit, the memory issues are no longer persisting (seems to encrypt quickly, an

[2015-12-23 10:58] AshleyPinner commented on #23
Just two quick thoughts:
1) storing the sbox in numeric format is odd; most implementations and Sbox tables for AES are in hex.  (Also make sure to format it to be 16 numbers per line, as then it's much easier to compare with a reference SBox). This is to make comparison to [references easier to see](https://en.wikipedia.org/wiki/Rijndael_S-box#Forward_S-box), and helps with the "nothing up my sle

[2015-12-23 16:13] DanielRuf commented on #23
@AshleyPinner
1: Thanks for the hint. I changed it in the last commits to use the hexadecimal format for the sbox.

2: Am I right that we have to check the keysize before we encrypt the plaintext data? Is the code mentioned here right and sufficient for a keysize check? https://github.com/jasonhinkle/php-gpg/issues/19

3: Any hints on how and what we have to change to get it working with OpenSSL (

[2015-12-23 18:27] Maikuolan commented on #23
I'll run the tests again against the latest commits when I get home later today (about 6 hours from now). I agree; I'm thinking 1.6.1 would be better, to conform with Semver (due to this being a patch, and not a new feature).

[2015-12-23 18:44] DanielRuf commented on #23
Ok, no hurry. Right, when the tests are ok, I will prepare a 1.6.1 release.

[2015-12-24 01:35] Maikuolan commented on #23
I ran the tests again just now, and there weren't any apparent problems; Tests completed successfully. :+1:

[2015-12-24 06:49] DanielRuf commented on #23
Great, thanks for doing the tests and verifying that everything still works as desired.

Will make the 1.6.1 release later.

[2015-12-24 18:08] paragonie-scott commented on #23
I mentioned some of them in the linked Twitter thread:

* https://twitter.com/voodooKobra/status/676060524430409729
* https://twitter.com/voodooKobra/status/676060921127661568
* https://twitter.com/voodooKobra/status/676061088690106368 (That's assuming you upgrade from ECB to CBC.)

---------------------

Using OpenSSL is 1000x better than writing your own primitives in PHP. Since PHP ships with e

[2015-12-24 18:10] paragonie-scott commented on #23
Also worth reading:

* [Cryptographic right answers](http://www.daemonology.net/blog/2009-06-11-cryptographic-right-answers.html)
* [Updated cryptographic right answers](https://gist.github.com/tqbf/be58d2d39690c3b366ad)
* [Cryptography coding rules](https://cryptocoding.net/index.php/Coding_rules)
* [Error-prone cryptographic designs](http://cr.yp.to/talks/2015.01.07/slides-djb-20150107-a4.pdf) (

[2015-12-24 18:55] DanielRuf commented on #23
@paragonie-scott thanks for the iformation.

Using a wrapper for a library which uses openssl_encrypt makes no big sense to me. Also doesn't Cryt_GPG use gpg with system calls?

I already found the openssl_encrypt call for AES with the CBC mode. I am pesonaly against addig more full blown libraries or wrappers + libraries to the project.

What I need is the right openssl_encrypt code and the line

[2015-12-27 11:11] Maikuolan commented on #23
Sorry for the delayed reply; Busier past few days than expected.

I'll reply here again more properly soon.

[2016-01-04 06:46] iangcarroll opened #24 "Key ID is broken"
The (correct, I believe) tests for getting a key ID are failing.

[code]

For what it's worth, I'm working on restructuring and cleaning up this code in [certly/php-gpg](https://github.com/certly/php-gpg). If I fix this, I'll submit a PR here.

[2016-01-04 06:52] jpettitt opened #25 "License"
You are only bound to GPL if you used their code.  The protocol is not copyrighted.

[2016-01-04 07:15] DanielRuf commented on #24
That would be great, thanks for spotting this.

[2016-01-04 08:09] DanielRuf commented on #25
You are right. This was already mentioned in #22. As @certly is currently working on a fork, there is no mention of this anymore. Closing this as duplicate of #22

[2016-01-04 08:09] #25 closed

[2016-01-17 06:23] meitar commented on #12
I'd just like to +1 the request for signature verification. That seems like (relatively) low hanging fruit and it would be particularly useful for a project I am working on.

Many thanks for this tool, I can't promise to contribute code directly (yet) because I have too many other projects that need my attention, but I'll begin using this package in those projects and upstream whatever I can.

[2016-01-17 08:00] meitar opened #26 "PHP `E_NOTICE` error when creating a new GPG_Public_Key"
* PHP-GPG Version: 1.6.1
* **This issue is reproducible.**

# Description

I encountered an `E_NOTICE` error I don't understand because it's only happening on one of my keys, and not on other keys. The specific error is:

The offending code in my project is simple:

[code]

(The offending key happens to be [my own key](https://pgp.mit.edu/pks/lookup?search=0x4DB88B59&op=index).)

# Code to reprodu

[2016-01-17 11:26] DanielRuf commented on #26
Please provide some more infrmation about the usd key like keyength, used encryption and so on. We already had the issue in the past but this was an issue with older specific GnuPG keys which was solved with the supplied key.

[2016-01-17 11:30] DanielRuf commented on #12
This would be very helpful as we need more contributors who can help with this.

[2016-01-17 11:33] meitar commented on #26
I did:

To clarify, the specific key that causes the issue is linked directly in the original issue report. To be even more specific, it is the key linked here: https://pgp.mit.edu/pks/lookup?search=0x4DB88B59&op=index

As is shown on that page and from my quote, the key length is 2,048 bits, and the encryption type is RSA.

[2016-01-17 11:54] DanielRuf commented on #26
Ah ok. I will test it with this key later. Should not read the issue right after waking up, oversaw the link, my fault.

[2016-01-17 11:55] meitar commented on #26
No worries. Thank you for looking into it.

[2016-01-17 12:02] DanielRuf commented on #26
Not sure if his is related to the issue with the GnuPG classic keys.

https://github.com/jasonhinkle/php-gpg/issues/7

[2016-01-17 12:09] DanielRuf commented on #26
Mh, when I look at the commit I think I made a mistake, isn't the second incrementation in the ocx lines wrong?

Don't know why I did this so.

[2016-01-17 13:59] DanielRuf commented on #26
Not reproducable here, tested with PHP 7.0.1

[code]

[2016-01-17 23:59] meitar commented on #26
I am approaching the limit of my knowledge with PGP, and did not know about the `--list-packets` option, thanks for showing me that.

You are right, the public key block you posted works without issue. However, it turns out that my local copy of the public key is not the same as the one uploaded to the keyserver that I linked you to. I'm sorry about that. I did not realize there were some differen

[2016-01-18 09:14] DanielRuf commented on #26
I do not see any `:public key packet:` in the packets from the key which produces the notice. Also it seems some dates, digest and data values are different.

It seems this is an issue with public subkeys.

Can you try if the latest commit to master fixes the issue for you and the encrypted text can be decrypted with GPA / gpg?

[2016-01-18 23:06] meitar commented on #26
That is strange, because I do. One `:public key packet:` and one `:public sub key packet:`, as per:

[code]

Just in case it matters, this is what the above `gpg2` binary reports about itself:

[code]

I'm sorry, I do not understand what you mean by this. The problematic key is "broken"? This is news to me, because I have been using this key for some time without issues with numerous OpenPGP clien

[2016-01-18 23:43] DanielRuf commented on #26
Maybe GPA just has a problem here, when the key is not imported. Trying tomorrow again.

What I meant it that maybe the structure of the whole key with the subkeys and signatures is problematic but I am not sure.

So encryption and decryption stil works?
`The same is true of the public key that produces the notice.`

Did you try the commit which was an attempt to fix the issue? Because when the no

[2016-01-18 23:48] DanielRuf commented on #26
It sees my assumption is right.

[code]

Please check the version beforr the last reverted commit.

[2016-01-19 03:25] meitar commented on #26
I just tested again against ecf827f1025165b0788df2c1e1e811e5dda4a98a and this works; no notices are shown! Thank you so much for your work on this. :)

[2016-01-19 06:42] DanielRuf commented on #26
Thanks for the feedback, will make a new release with this patch.

[2016-01-19 07:56] #26 closed

[2016-01-24 17:37] Elompenta opened #27 "random_int()"
http://php.net/manual/de/function.random-int.php

This function is based on Andrew Moore's UUID generation function on the uniqid function; it has been updated to use random_int() on PHP 7.0 or later yet continue to function with earlier versions using mt_rand().

[Sun Jan 24 18:35:24 2016] [error] [client 192.168.3.5] PHP Fatal error:  Call to undefined function random_int() in /dir/classes/php-g

[2016-01-24 17:49] DanielRuf commented on #27
Hello @Elompenta the right way is to install the library and its dependencies using Composer.

random_compat is required: https://github.com/paragonie/random_compat

[2016-01-24 17:58] Elompenta commented on #27
@DanielRuf
Thanks for fast response.

Okay - this additonal class works fine!

 git clone https://github.com/paragonie/random_compat.git
 require_once __DIR__.'/classes/random_compat/lib/random.php';

[2016-01-24 18:03] DanielRuf commented on #27
See here, why mt_rand is not a CSPRNG.

The numbers can be predicted, no byte ouput, weak seeds, not enough entropy, ...

http://security.stackexchange.com/a/18034/6090
http://stackoverflow.com/a/17362970/753676
http://crypto.stackexchange.com/a/2248/12434
http://phpsecurity.readthedocs.org/en/latest/Insufficient-Entropy-For-Random-Values.html

[code]

[2016-01-24 18:04] DanielRuf commented on #27
Closing the issue as resolved.

[2016-01-24 18:04] #27 closed

[2016-01-28 03:03] Maikuolan opened #28 "phpDocs"
I'm playing around a little with the code at the moment on my local machine (haven't yet committed anything), and with that, thought I'd have a go at trying to do a bit of PSR and phpDoc work on it, if this is something you'd be okay with. :-)

(I've noticed, too, that certly was working on cleaning up some of the code; What was being done looked interesting, and a fair amount of work had already

[2016-01-28 08:18] DanielRuf commented on #28
I think `* @copyright 1997-2016 VerySimple, Inc. and contributors` makes sense.

Regarding phpDocs, this might be useful.

I do not know if we still need the dev branch as we have now builds and the difference between both are just the comments afaik.

I would wait with PSR. We still have at least one big problem, the usage of AES with the ECB mode, CBC mode would be moch more secure.

Generally I

[2016-01-28 09:04] Maikuolan commented on #28
Good points. I didn't realise @singpolyma had further progress with their repo (this is good news), and also, it would be disappointing to see the work done by @certly / @iangcaroll going to waste. All things considered (and that the other repo has more progress), I agree; It would make sense to eventually rename this to something like gpgencrypt or similar.

I'll hold off for the moment, then. :-

[2016-01-28 16:12] oucil commented on #23
Not sure if this is the right place to note this but you're discussing the `random_byte`/`random_int` methods provided by @paragonie-scott above so feel free to move this or tell me where I should be reporting it.

This library you've chosen to require for PHP <7 generates warnings consistently for us...

Not sure about how to deal with this.  We'll be moving to PHP 7 soon enough, but for now we'r

[2016-01-28 16:14] paragonie-scott commented on #23
@oucil Does version 1.1.5 of [random_compat](https://github.com/paragonie/random_compat) generate these warnings? Also, can you not add `/dev` to your list of allowed basedirs?

[2016-01-28 16:23] oucil commented on #23
@paragonie-scott I just installed via composer a couple days ago and it looks like the requirement in this packages composer file is 1.1.x so I'm assuming we're on 1.1.5.  (is there somewhere in your package I can concretely verify that's what was installed?).  As far as adding /dev to the allowed basedir's, that's my last resort right now, only because this is a SAAS system and I'll need to updat

[2016-01-28 16:26] paragonie-scott commented on #23
I'll open a ticket in random_compat. Please let's move the discussion there. :)

[2016-03-28 20:15] BitpopCoin opened #29 "Never close PHP tags"
Especially when you put new lines after

I tried to do a pr but the diff broke https://github.com/jasonhinkle/php-gpg/compare/master...BitpopCoin:master

[2016-03-29 08:15] DanielRuf commented on #29
Thanks for the hint, closing PHP tags are now omitted.

[2016-03-29 08:15] #29 closed

[2016-05-25 07:02] danelsan opened #30 "Error when run tests"
I run into folder tests:

sh runtests.sh

but I receive this errors (I work with linux ):

PHP Warning:  require_once(PHPUnit/Framework/TestCase.php): failed to open stream: No such file or directory in /home/daniele/development/php/php-gpg/php-gpg/tests/gpg/EncryptTest.php on line 11
PHP Fatal error:  require_once(): Failed opening required 'PHPUnit/Framework/TestCase.php' (include_path='/home/da

[2016-05-25 07:31] danelsan opened #31 "Error run tests phpunit"
I now run the test but i give these errors:

There were 2 failures:

1) KeyTest::test_VerifyGnuPGKey
OpenPGP Incorrect Key ID
Failed asserting that two strings are equal.
--- Expected
+++ Actual
@@ @@
-'47009B66424E9476'
+'04343C988F215A2E'

/home/daniele/development/php/php-gpg/php-gpg/tests/gpg/KeyTest.php:1420

2) KeyTest::test_VerifyOpenPGPKey2
OpenPGP Incorrect Key ID
Failed asserting that tw

[2016-05-25 08:28] Maikuolan commented on #28
I'd forgotten that this issue was still open.

In lieu of recent news and developments relating to this project, I don't think this issue is relevant anymore, and so, I'll close it now.

[2016-05-25 08:28] #28 closed

[2016-05-25 08:59] DanielRuf commented on #31
Not sure, maybe the key IDs are just wrong and the actual key IDs of the used keys are different? Personally I do not have much time to collaborate anymore and moved projects to https://github.com/singpolyma/openpgp-php

[2016-05-25 09:01] DanielRuf commented on #30
This could be because PHPUnit should reside in the same folder as the library and added as dependency to the Composer file.

Currently there are no test depencencies defined.

https://github.com/jasonhinkle/php-gpg/blob/master/composer.json

[2016-05-25 09:05] danelsan commented on #31
ok, thanks

[2016-05-25 09:05] #31 closed

[2016-05-25 09:46] DanielRuf commented on #28
Right. As collaborator I can do some things but not access the settings of the repository and other accounts for example the one at Composer.

I will definitely keep the repository published (this is also what I planned before) and have already added some information about the current status of the repository to the readme.

Other alternative libraries are much more secure, actively maintained and

[2016-07-02 14:05] #30 closed

[2016-07-02 14:06] #24 closed

[2016-10-27 22:34] XIAZY opened #33 "fknjekicucccujbjcdrc"

[2016-10-27 22:35] XIAZY commented on #33
Sorry, I don't mean to open a issue.
A kid is using my computer…

[2016-10-27 22:35] #33 closed, assigned to nobody

[2016-10-28 10:18] raed667 commented on #33
Well, there is a first time to everything :D

[2016-11-19 18:58] #19 closed

[2016-11-19 18:58] #12 closed

[2016-11-25 05:48] #23 closed